# Auto detect text files and perform LF normalization
* text=auto
/Users/jangseongyu/Documents/GitHub/DIGB-Homosilicus/data/Persona_Data_Top_n_domains_Random_Extraction filter=lfs diff=lfs merge=lfs -text
*.jsonl filter=lfs diff=lfs merge=lfs -text
