langchain
langchain-google-genai
google-generativeai

sentence-transformers
scikit-learn
matplotlib
numpy
tqdm

nltk
gdown
python-dotenv

google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
